body{
    background-color: rgb(236, 238, 129, 0.5);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-between;
    height: 65px;
    background-color: #82A0D8;
    align-items: center;
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    height: 100px;
    width: 150px;
    margin-right: 10px;

}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: darkorange;
}

main {
    text-align: center;
}

.Contenedor {

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;

}

.habitaciones {
    background-color: chartreuse;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.habitaciones img{
    width: 300px;
    height: 200px;
}



footer {
    background-color: black;
    margin-top: auto;
}

footer iframe {
    margin-left: 15px;
    margin-top: auto;
}