body{
    margin: 0;
}

header{
    background-color: #C3EDC0;
    display: flex;
    justify-content: space-around;
}

.logo{
    width: 114px;
    height: 70px;
    display: inline;
}

main{
    text-align: center;
}

